body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.item{
  height: 400px ;
  width: 400px;
  background: lightseagreen;
}

main{
  flex: 1 ;
  padding: 20px;
}

header, footer {
  padding: 10px 20px;
}

header{
  background: lightgrey;
}

footer{
  background: lightgreen;
}